{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block body %}
       <div class="page-title">
            <div class="title_left">
                <h3>Contracts</h3>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="">
                            {% if request.user.is_staff %}
                            <ul class="list-inline pull-right clearfix controls">
                                <li>
                                    <a class="btn btn-primary download-excel" href="{% url 'add_contract' %}"> <i class="fa fa-plus"></i> Create New Contract</a>
                                </li>
                            </ul>
                            {% endif %}
                            <div class="clearfix"></div>
                        </div>
                        <div class="box-header" >
                          {% if messages %}
                            <ul class="messages">
                              {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissable">
                                  <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                {{ message }}
                                </div>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        </div>
                        <div class="x_content">
                            <br />
                            <div class="table-responsive">
                                <table id="contracts_table" class="cell-border">
                                    <thead>
                                    <tr>
                                      <th>Representative</th>
                                      <th>Client</th>
                                      <th>Employee</th>
                                      <th>Role</th>
                                      <th>Status</th>
                                      <th>Billing Cycle</th>
                                        {% if request.user.is_staff %}
                                      <th class="no-sort">Action</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for contract in contract_list %}
                                      <tr>
                                        <td>{{ contract.representative.full_name }}</td>
                                        <td>{{ contract.client.full_name }}</td>
                                        <td>{{ contract.employee.full_name }}</td>
                                        <td>{{ contract.role }}</td>
                                        <td>{{ contract.status }}</td>
                                        <td>{{ contract.billing_cycle }}</td>
                                          {% if request.user.is_staff %}
                                        <td>
                                          <a class="fa fa-pencil-square-o" href="{% url 'update_contract' contract.id %}"></a>
                                          <a class="fa fa-times client_delete_icon" href="{% url 'delete_contract' contract.id %}" obj_name='' style="padding-left:50px;"></a>
                                        </td>
                                          {% endif %}
                                      </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block static %}
<script>
  $(document).ready(function(){
  $('#contracts_table').DataTable();
  });
</script>
{% endblock %}