{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block body %}
<div class="page-title">
         <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
             {% if request.user.is_superuser %}
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ employees_count }}</div>
                                    <div>Employees</div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'list_employees' %}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green" style="background-color:#5cb85c">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-user-plus fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right" style="color:white">
                                    <div class="huge">{{ clients_count }}</div>
                                    <div>Clients</div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'list_clients' %}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow" style="background-color:#f0ad4e">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-floppy-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right" style="color:white">
                                    <div class="huge">{{ projects_count }}</div>
                                    <div>Projects</div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'list_projects' %}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red" style="background-color:#d9534f">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right" style="color:white">
                                    <div class="huge">{{ contracts_count }}</div>
                                    <div>Contracts</div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'list_contracts' %}">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
         </div>
     {% endif %}
         <div class="ln_solid"></div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Timesheet Summary
                </div>
                <div class="form-div">
                    <form method="post" enctype="multipart/form-data">
                       {% csrf_token %}
                         {{ form }}
                        <input type="submit" name="submit_btn" id="id_submit_btn" class="btn btn-success"/>
                    </form>
                </div>

            {% if timesheet_result %}
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Total Submitted Timesheet</th>
                                            <th>Total Pending Timesheet</th>
                                            <th>Total Approved Timesheet</th>
                                            <th>Total Rejected Timesheet</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ timesheet_result.total_submitted_timesheet }}</td>
                                            <td>{{ timesheet_result.total_pending_timesheet }}</td>
                                            <td>{{ timesheet_result.total_approved_timesheet }}</td>
                                            <td>{{ timesheet_result.total_rejected_timesheet }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            {% endif %}
     </div>
</div>
{% endblock %}

{% block static %}
<script>
  $(document).ready(function(){
  <!--$('#report_table').DataTable();-->
   $('#id_from_date').datepicker({'dateFormat': 'mm/dd/yy'});
   $('#id_to_date').datepicker({'dateFormat': 'mm/dd/yy'});
    });
</script>
<style>
 label
{
    padding-left: 20px;
}
#id_submit_btn{
    margin-left: 10px;
}
.form-div{
padding-top:15px;
padding-bottom:15px;
}
</style>
{% endblock %}