{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block body %}
       <div class="page-title">
            <div class="title_left">
                <h3>Expenses for {{emp.full_name}}</h3>
            </div>
           <a href="{% url 'list_employees' %}" class="list-inline btn btn-success"><i class="fa fa-arrow-alt-left "></i>Back To Employees</a>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            {% if request.user.is_staff %}
                            <ul class="list-inline pull-right clearfix controls">
                                <li>
                                    <a class="btn btn-primary download-excel" href="{% url 'add_emp_expense' emp.id %}"> <i class="fa fa-plus"></i>Add New Expense</a>
                                </li>
                            </ul>
                            {% endif %}
                            <div class="clearfix"></div>
                        </div>
                        <div class="box-header" >
                          {% if messages %}
                            <ul class="messages">
                              {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissable">
                                  <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                {{ message }}
                                </div>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        </div>
                        <div class="x_content">
                            <br />
                            <div class="table-responsive">
                                <table id="expenses_table" class="cell-border hover row-border order-column">
                                    <thead>
                                    <tr>
                                      <th>Date</th>
                                      <th>Expense Type</th>
                                      <th>Amount</th>
                                      <th>Note</th>
                                      <th class="no-sort">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for expense in employee_expenses %}
                                      <tr>
                                        <td>{{ expense.expense_date }}</td>
                                        <td>{{ expense.expense_type }}</td>
                                        <td>{{ expense.amount }}</td>
                                        <td>{{ expense.note }}</td>
                                        <td>
                                          <a class="fa fa-pencil-square-o" href="{% url 'update_emp_expense' emp.id expense.id %}"></a>
                                          <a class="fa fa-times client_delete_icon" href="{% url 'delete_emp_expense' emp.id expense.id %}" obj_name='' style="padding-left:50px;"></a>
                                        </td>
                                      </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block static %}
<script>
  $(document).ready(function(){
  $('#expenses_table').DataTable();
  });
</script>
{% endblock %}
