{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block body %}
       <div class="page-title">
            <div class="title_left">
                <h3>Inbox Messages</h3>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="">
                            {% if request.user.is_staff %}
                            <ul class="list-inline pull-right controls">
                                <li>
                                    <a class="btn btn-primary download-excel" href="{% url 'create_message' %}"> <i class="fa fa-plus"></i> Compose New Message</a>
                                </li>
                            </ul>
                            {% endif %}
                            <div class="clearfix"></div>
                        </div>
                        <!--<div class="box-header" >-->
                          <!--{% if messages %}-->
                            <!--<ul class="messages">-->
                              <!--{% for message in messages %}-->
                                <!--<div class="alert alert-{{ message.tags }} alert-dismissable">-->
                                  <!--<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>-->
                                <!--{{ message }}-->
                                <!--</div>-->
                              <!--{% endfor %}-->
                            <!--</ul>-->
                          <!--{% endif %}-->
                        <!--</div>-->
                        <div class="x_content">
                            <br />
                            <div class="table-responsive">
                                <table id="message_table" class="cell-border hover row-border order-column">
                                    <thead>
                                    <tr>
                                      <th>Message From</th>
                                      <th>Message</th>
                                      <th>Created At</th>
                                      <th class="no-sort">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for message in messages %}
                                      <tr>
                                        <td>{{ message.sender.username }}</td>
                                        <td>{{ message.note }}</td>
                                        <td>{{ message.created_at }}</td>
                                        <td>
                                          <a class="fa fa-pencil-square-o" href="{% url 'update_message' message.id %}"></a>
                                          {% if request.user.is_staff %}
                                          <a class="fa fa-times client_delete_icon" href="{% url 'delete_message' message.id %}" obj_name='' style="padding-left:50px;"></a>
                                          {% endif %}
                                        </td>
                                      </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block static %}
<script>
  $(document).ready(function(){
  $('#message_table').DataTable();
  });
</script>
{% endblock %}