{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block body %}
       <div class="page-title">
            <div class="title_left">
                <h3>Project Based Report Of Resource</h3>
            </div>
            <div class="title_right" style="{'float': right}">
               <a href="{% url 'report' %}" class='btn btn-primary' >Back</a>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <br />
                            <div class="table-responsive">
                               <table id="report_table" class="cell-border">
                                    <thead>
                                    <tr>
                                      <th class="no-sort">Contract Name</th>
                                      <th class="no-sort">Project Name</th>
                                      <th class="no-sort">Resource Cost $ /hour</th>
                                      <th class="no-sort">Planed Project Duration (hour)</th>
                                      <th class="no-sort">Actual Duration (hour)</th>
                                      <th class="no-sort">Total Plan Cost($)</th>
                                      <th class="no-sort">Actual Total Cost($) </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for contract in list_contracts %}
                                      <tr>
                                        <td>{{ contract.contract_name }}</td>
                                        <td>{{ contract.project_name }}</td>
                                        <td>{{ contract.resource_cost }}</td>
                                        <td>{{ contract.planned_resource_duration }}</td>
                                        <td>{{ contract.actual_resource_duration }}</td>
                                        <td>{{ contract.planned_total_cost }}</td>
                                        <td>{{ contract.actual_total_cost }}</td>
                                      </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block static %}
<script>
  $(document).ready(function(){
  $('#report_table').DataTable();
  });
</script>
{% endblock %}