{% load static %}
<html>
  <head>
    <style>
       td,th {
         text-align: center;
       }
       .cell-border{
         border: 1px solid black;
         padding: 1px 1px 1px 1px;
        }
    </style>
  </head>
  <body>
     <table id="report_table" class="cell-border">
        <thead>
        <tr>
          <th class="no-sort">Contract Name</th>
          <th class="no-sort">Project Name</th>
          <th class="no-sort">Resource Cost $/hour</th>
          <th class="no-sort">Planed Project Duration (hour)</th>
          <th class="no-sort">Actual Duration (hour)</th>
          <th class="no-sort">Total Plan Cost($)</th>
          <th class="no-sort">Actual Total Cost($) </th>
        </tr>
        </thead>
        <tbody>
        {% for contract in list_contracts %}
          <tr>
            <td class="cell-data">{{ contract.contract_name }}</td>
            <td class="cell-data">{{ contract.project_name }}</td>
            <td class="cell-data">{{ contract.resource_cost }}</td>
            <td class="cell-data">{{ contract.planned_resource_duration }}</td>
            <td class="cell-data">{{ contract.actual_resource_duration }}</td>
            <td class="cell-data">{{ contract.planned_total_cost }}</td>
            <td class="cell-data">{{ contract.actual_total_cost }}</td>
          </tr>
        {% endfor %}
        </tbody>
     </table>
  </body>
</html>
