{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block body %}
<div class="page-title">
    <div class="title_left">
        <h3>Expense Report</h3>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <br />
                    <section class="content">
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="">
                            <div class="box-header">
                              {% if messages %}
                                <ul class="messages alert alert-danger">
                                  {% for message in messages %}
                                    {{ message }}
                                  {% endfor %}
                                </ul>
                              {% endif %}
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <form method="post" enctype="multipart/form-data">
                                   {% csrf_token %}
                                     {{ form }}
                                    <input type="submit" name="submit_btn" id="id_submit_btn" class="btn btn-success"/>

                                <div class="ln_solid"></div>
                                <table id="report_table" class="cell-border hover row-border order-column">
                                    <thead>
                                    <tr>
                                      <th class="no-sort">Expense Type</th>
                                      <th class="no-sort">Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for expense in result.expenses %}
                                      <tr>
                                        <td>{{ expense.expense_type__name }}</td>
                                        <td>{{ expense.amount__sum }}</td>
                                      </tr>
                                    {% endfor %}
                                    <tr>
                                      <th class="no-sort">Total Expense</th>
                                      <th class="no-sort">{{ result.total_expense }}</th>
                                    </tr>
                                    </tbody>
                                </table>
                                {% if expenses %}
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                                  <button class="btn btn-primary" type="submit" name="export_btn">Export Report</button>
                                </div>
                             </form>
                            {% endif %}
                            </div>
                            <!-- /.box-body -->
                          </div>
                          <!-- /.box -->
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block static %}
<script>
  $(document).ready(function(){
  $('#report_table').DataTable();
    var availableEmps = [
     {% for emp in emps %}
          "{{emp}}",
      {%endfor%}
      ];
   $("#id_resource_name").autocomplete({
        source: availableEmps
      });
   $('#id_from_date').datepicker({'dateFormat': 'yy-mm-dd',
       changeMonth: true,
       changeYear: true,
       onSelect: function(selected) {
          $("#id_to_date").datepicker("option","minDate", selected)
        }
   });
   $('#id_to_date').datepicker({'dateFormat': 'yy-mm-dd',
       changeMonth: true,
       changeYear: true,
       'maxDate': 3650,
        onSelect: function(selected) {
           $("#id_from_date").datepicker("option","maxDate", selected)
        }
   });
    });
</script>
<style>
 label
{
    padding-left: 20px;
}
#id_submit_btn{
    margin-left: 10px;
}
</style>
{% endblock %}
