{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block body %}
<div class="page-title">
    <div class="title_left">
        <h3>Search Report</h3>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <br />
                    <section class="content">
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="">
                            <div class="box-header">
                              {% if messages %}
                                <ul class="messages alert alert-danger">
                                  {% for message in messages %}
                                    {{ message }}
                                  {% endfor %}
                                </ul>
                              {% endif %}
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <form method="post" enctype="multipart/form-data">
                                   {% csrf_token %}
                                     {{ form }}
                                    <input type="submit" name="submit_btn" id="id_submit_btn" class="btn btn-success"/>

                                <div class="ln_solid"></div>
                                <table id="report_table" class="cell-border">
                                    <thead>
                                    <tr>
                                      <th class="no-sort">Contract Name</th>
                                      <th class="no-sort">Project Name</th>
                                      <th class="no-sort">Resource Cost $/hour</th>
                                      <th class="no-sort">Planed Project Duration (hour)</th>
                                      <th class="no-sort">Actual Duration (hour)</th>
                                      <th class="no-sort">Total Plan Cost($)</th>
                                      <th class="no-sort">Actual Total Cost($) </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for contract in list_contracts %}
                                      <tr>
                                        <td>{{ contract.contract_name }}</td>
                                        <td>{{ contract.project_name }}</td>
                                        <td>{{ contract.resource_cost }}</td>
                                        <td>{{ contract.planned_resource_duration }}</td>
                                        <td>{{ contract.actual_resource_duration }}</td>
                                        <td>{{ contract.planned_total_cost }}</td>
                                        <td>{{ contract.actual_total_cost }}</td>
                                      </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% if list_contracts %}
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
                                  <button class="btn btn-primary" type="submit" name="export_btn">Export Report</button>
                                </div>
                             </form>
                            {% endif %}
                            </div>
                            <!-- /.box-body -->
                          </div>
                          <!-- /.box -->
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block static %}
<script>
  $(document).ready(function(){
  $('#report_table').DataTable();
    var availableEmps = [
     {% for emp in emps %}
          "{{emp}}",
      {%endfor%}
      ];
   $("#id_resource_name").autocomplete({
        source: availableEmps
      });
   $('#id_from_date').datepicker({'dateFormat': 'mm/dd/yy'});
   $('#id_to_date').datepicker({'dateFormat': 'mm/dd/yy'});
    });
</script>
<style>
 label
{
    padding-left: 20px;
}
#id_submit_btn{
    margin-left: 10px;
}
</style>
{% endblock %}
