{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block body %}
<div class="page-title">
    <div class="title_left">
        <h3>Search Defaulters</h3>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <br />
                    <section class="content">
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="">
                            {% if message %}
                               <ul class="messages alert alert-danger">{{ message }}</ul>
                            {% endif %}
                            <!-- /.box-header -->
                            <div class="box-body">
                                <form method="post" enctype="multipart/form-data">
                                   {% csrf_token %}
                                     {{ form.as_p }}
                                    <div class="ln_solid"></div>
                              <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                  <button class="btn btn-primary" type="reset">Reset</button>
                                  <input type="submit" class="btn btn-success"/>
                                </div>
                              </div>
                                </form>
                            {% if list_contracts %}
                              <div class="ln_solid"></div>
                              <div class="table-responsive">
                                <table id="defaulter_table" class="cell-border">
                                    <thead>
                                    <tr>
                                      <th>Contract Name</th>
                                      <th>Count Of Pending Timesheets</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for contract in list_contracts %}
                                      <tr>
                                        <td>{{ contract.contract_name }}</td>
                                        <td>{{ contract.remaining_timesheet_count }}</td>
                                      </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                              </div>
                            {% endif %}
                            </div>
                            <!-- /.box-body -->
                          </div>
                          <!-- /.box -->
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block static %}
<script>
  $(document).ready(function(){
   $("#id_resource_name").addClass( "form-control" );
   $("#id_from_date").addClass( "form-control" );
   $('#id_from_date').datepicker({'dateFormat': 'yy-mm-dd'});
   $("#id_to_date").addClass( "form-control" );
   $('#id_to_date').datepicker({'dateFormat': 'yy-mm-dd'});
   $('#defaulter_table').DataTable();
    });
</script>
{% endblock %}
