{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block body %}
<div class="page-title">
    <div class="title_left">
        <h3>Timesheet</h3>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <br />
                    <section class="content">
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="">
                            <div class="box-header">
                              {% if messages %}
                                <ul class="messages alert alert-danger">
                                  {% for message in messages %}
                                    {{ message }}
                                  {% endfor %}
                                </ul>
                              {% endif %}
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <form method="post" enctype="multipart/form-data">
                                   {% csrf_token %}
                                     <!--{{ form.as_p }}-->
                               {% for hidden_field in form.hidden_fields %}
                                {{ hidden_field.errors }}
                                {{ hidden_field }}
                              {% endfor %}

                                {% for field in form.visible_fields %}
                                 <div class="form-row">
                                  <div class="form-group col-md-6">
                                    {{ field.label_tag }}
                                      <span style="color:red;">{{ field.errors }}</span>
                                      {{ field }}
                                      {{ field.help_text }}
                                  </div>
                                {% endfor %}
                                 </div>

                                    <label>Tasks</label>
                                    <div class="table-responsive">
                                        <table class="table">
                                            {{ tasks.management_form }}

                                            {% for form in tasks.forms %}
                                                {% if forloop.first %}
                                                    <thead>
                                                    <tr>
                                                        {% for field in form.visible_fields %}
                                                            <th>{{ field.label|capfirst }}</th>
                                                        {% endfor %}
                                                    </tr>
                                                    </thead>
                                                {% endif %}
                                                <tr class="{% cycle row1 row2 %} formset_row">
                                                    {% for field in form.visible_fields %}
                                                        <td>
                                                            {# Include the hidden fields in the form #}
                                                            {% if forloop.first %}
                                                                {% for hidden in form.hidden_fields %}
                                                                    {{ hidden }}
                                                                {% endfor %}
                                                            {% endif %}
                                                            <br>
                                                            {{ field.errors.as_ul }}
                                                            {{ field }}

                                                        </td>
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                <div class="ln_solid"></div>
                              <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                  <a href="{% url 'list_timesheets' %}" class='btn btn-primary' >Cancel</a>
                                  <button class="btn btn-primary" type="reset">Reset</button>
                                  <input type="submit" class="btn btn-success"/>
                                </div>
                              </div>
                                </form>
                                <input type="hidden" id="is_manager" value={% if request.user.is_staff %} true {% else %} false {% endif %} />
                            </div>
                            <!-- /.box-body -->
                          </div>
                          <!-- /.box -->
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block static %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"></script>
<script>
  $(document).ready(function(){
   $('body').removeClass( "nav-md" ).addClass( "nav-sm" );
   $("#id_contract").addClass( "form-control" );
   $("#id_sign_in").addClass( "form-control" );
   $('#id_sign_in').datetimepicker({format: 'yyyy-mm-dd hh:ii', minuteStep: 15 });
   $("#id_sign_out").addClass( "form-control" );
   $('#id_sign_out').datetimepicker({format: 'yyyy-mm-dd hh:ii', minuteStep: 15});

    <!--var start_time = $('#id_sign_in').val();-->

    <!--var end_time = $('#id_sign_out').val();-->

    <!--if (Date.parse(start_time) > Date.parse(end_time)) {-->
      <!--alert('start time should be smaller');-->
    <!--}-->

   $("#id_remark").addClass( "form-control" );
   $("#id_remark").attr( "cols", 40 );
   $("#id_remark").attr( "rows", 1 );
   $("#id_status").addClass( "form-control" );
    if ($("#is_manager").val() == 'false')
       {
       $("#id_status").prop('disabled', true);
       }
           $.ajax({
            url: "/tracker/getcontracts/",
            dataType: 'json',
            type: 'GET',
            data: {},
            success: function(data) {
                $('#id_contract').empty(); // clear the current elements in select box
                for (row in data['contract_list']) {
                    $('#id_contract').append('<option value='+ data['contract_list'][row].id+'>'+data['contract_list'][row].name+'</option>');
                }

            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });

    $('.formset_row').formset({
        addText: 'Add Task',
        deleteText: 'Remove',
        prefix: 'timesheet_task'
    });
    $('.clock').timepicker({ 'timeFormat': 'HH:mm', 'interval': 15, 'show2400': true });
    $('.add-row').click(function() {
            $('.clock').timepicker({ 'timeFormat': 'HH:mm', 'interval': 15, 'show2400': true });
        });
</script>
<style>
   a[class="add-row"]{
    color: darkblue;
    font-size: 125%;
}
   a[class="delete-row"]{
    color: red;
    font-size: 125%
}
</style>
{% endblock %}