{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block body %}
       <div class="page-title">
            <div class="title_left">
                <h3>User</h3>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <br />
                            <section class="content">
                              <div class="row">
                                <div class="col-xs-12">
                                  <div class="">
                                    <div class="box-header">
                                      {% if messages %}
                                        <ul class="messages">
                                          {% for message in messages %}
                                            <li class="{{ message.tags }}">{{ message }}</li>
                                          {% endfor %}
                                        </ul>
                                      {% endif %}
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <form method="post">
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            <input type="submit" value="Save" />
                                        </form>
                                    </div>
                                    <!-- /.box-body -->
                                  </div>
                                  <!-- /.box -->
                                </div>
                                <!-- /.col -->
                              </div>
                              <!-- /.row -->
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block static %}
<script>
  $(document).ready(function(){
   $("#id_username").addClass( "form-control" );
   $("#id_password").addClass( "form-control" );
   $("#id_is_staff").addClass( "form-control" );
    });
</script>
{% endblock %}